/*
Theme Name: Choicelunch 2012
Theme URI: http://www.choicelunch.com;
Author: Grady Britton
Author URI: http://gradybritton.com
Description: The 2012 them for Choicelunch
Version: 1.0
Text Domain: choicelunch2012
*/

@import "bootstrap/bootstrap.less";

@cl_light_green: #adda34;
@cl_green: #9bca25;
@cl_dark_green: #7aaf1c;

@cl_light_blue: #acdef6;
@cl_blue: #3f88ab;

@cl_orange: #e77821;

//COLORS
@cl_orange: #e57015; // Orange
@cl_orange_dark: #de6217; // Orange (darken on hover)
@cl_brown: #6b5019; //Brown
@cl_brown_dark: #503b11;
@cl_blue: #3f88ab; //Blue
@cl_blue_dark: #31759a; //Blue (darken on hover)
@cl_gray: #555555; //Gray (text)
@cl_green_light: #edffa4; //Highlight Green
@cl_green_dark: #d3ec7b; //Darker Highlight Green
// #e2eeb6 (50% white over Darker Highlight Green)

// Link COLOR
// #70a512
// #609207 //hover

// Navbar Text
// #6b831 - text shadow : distance:2 size:4
// #defb90; //hover

body {
	margin: 0;
	padding-top: 80px;
	padding-bottom: 0;

 	text-shadow: 0 1px 0 #fff;

 	color: @cl_gray;
	
	background: #fff;

}

// align twitter button properly
.twitter-share-button { vertical-align:top }

ul.social-sharing{
	margin: 0; padding: 0;
	width: 100%;
	list-style: none;

	li{
		display: inline;
		list-style: none;
		width: 90px;
		float: left; clear: none;
	}
}

h3{
	line-height: 28px !important;
}

.waitforload{
	//display: none;
}

.well{
	.box-sizing(border-box);
}

.content-loading,
.loading{
	display: block;
	margin: 0; padding: 50px 0;
	font-size: 16px;
	color: #999;
	text-align: center;

}

.round-border{
	.border-radius( 6px );
	.box-shadow( 0 1px 5px rgba( 0, 0, 0, 0.2 ) );
}

.sidebar{
	.row .row{
		margin: 0 0 30px 0;
		
		.title{
			display: block;
			margin: 0 0 8px 0; padding: 0;
			color: @cl_blue;
			font-size: 18px;
			font-weight: bold;
		}
		ul{ margin: 0; padding: 0;}
	}
}

// button overrides

.btn{

}

.btn-medium{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}
.btn-large{
	font-size: 22px;
	font-weight: bold;
}
.btn-orange{
	border: 0;
	color: #fff;
	background: @cl_orange;
	text-shadow: 0 0 0 #fff;

	&:hover{
		color: #fff;
		background: @cl_orange_dark;
	}
}

.btn-green{
	border: 0;
	color: #fff;
	background: @cl_green;
	text-shadow: 0 0 0 #fff;

	&:hover{
		color: #fff;
		background: @cl_dark_green;
	}
}

.continue_reading{
	display: block;
	margin: 0 0 20px 0; padding: 0;
	width: 100%;
	float: left; clear: both;

	.btn{
		display: block;
		margin: 0; padding: 0;
		width: 185px; height: 32px;
		background: transparent url(img/btn_continue_reading.png) 0 0 no-repeat;
		text-indent: -5000px;
		border: 0;
		float: left; clear: both;
		outline: none;
		overflow: hidden;
		.box-shadow(0 0 0 #fff);

		&:hover{
			background-position: 0 -32px;
			.transition(0);
		}
	}
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* ===== Primary Styles ========================================================
   Author: Joey Yax
   ========================================================================== */

// #main*{
// 	transition:all 1s linear; 
//     -o-transition:all 1s linear; 
//     -moz-transition:all 1s linear; 
//     -webkit-transition:all 1s linear;
// }

body.loading-complete{

	.step{
		transition:all .2s linear; 
	    -o-transition:all .2s linear; 
	    -moz-transition:all .2s linear; 
	    -webkit-transition:all .2s linear;
	}

	// .entree .inner{
	// 	transition:all .2s linear; 
	//     -o-transition:all .2s linear; 
	//     -moz-transition:all .2s linear; 
	//     -webkit-transition:all .2s linear;
	// }
}


#investigator_card{
	margin: 0 auto;
	width: 670px;

	.aside{
		display: inline;
		margin: 0 20px 0 0; padding: 0;
		width: 200px;
		float: left; clear: none;
	}

	.detail{
		display: inline;
		margin: 0; padding: 0;
		width: 450px;
		float: right; clear: none;

		h2{
			margin: 0; padding: 0 0 10px 0;
			font-size: 25px;
			line-height: 27px;
			color: @cl_blue;
		}
	}
}

body{
	font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;

	a{
		color: @cl_green;
		
		&:hover{
			color: @cl_dark_green;
		}
	}



	.talignleft{ text-align: left; }
	.taligncenter{ text-align: center; }
	.talignright{ text-align: right; }
	
	&.logged-in .navbar-fixed-top{
		top: 26px !important;
	}

	ol.h3{
		margin: 0 0 0 40px; padding: 0;
		font-size: 24px;
		font-weight: bold;
		color: @cl_blue;

		li{
			margin: 0;
			padding: 7px 0;
			span{
				font-size: 16px;
				line-height: 22px;
				font-weight: normal;
				color: #333;
			}
		}
	}

	.navbar{

		.navbar-inner{
			background: #a7da17; /* Old browsers */
			background: -moz-linear-gradient(top,  #adda34 0%, #9bca25 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adda34), color-stop(100%,#9bca25)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #adda34 0%,#9bca25 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #adda34 0%,#9bca25 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #adda34 0%,#9bca25 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #adda34 0%,#9bca25 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adda34', endColorstr='#9bca25',GradientType=0 ); /* IE6-9 */

			.brand{
				margin-left: -40px;
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
			}

			ul.nav{

				li{
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 18px;
					font-weight: 400;
					text-transform: uppercase;


					a{
						padding: 28px 15px;
						color: #fff;  
						text-shadow: 1px 1px 2px #7AAF1C;
						font-weight: bold;

						&:hover{
							color: #defb90;
							text-decoration: none;
						}
					}

					&.active,
					&.current_page_item,
					&.current_page_parent,
					&.current_page_ancestor{
						a{
							background: lighten( @cl_green, 15%);
							color: #fff;
							.border-radius(0);
							.box-shadow( inset 0 1px 5px rgba(0, 0, 0, 0.25) );
							

							&:hover{
								color: #fff;
								background: lighten(@cl_green,15%);
							}

						}
					}

				}
			}
		}

		ul.secondary-nav{
			margin: 28px 0 0;
			list-style: none;
			font-size: 12px;
			
			li{
				display: inline;
				margin: 0 5px;

				&:first-child{ margin-left: 0; }
				&:last-child{ margin-right: 0; }
				
				&.current_page_item.btn{  background: @cl_orange_dark; box-shadow: none;}
				&.btn{ padding: 7px 15px; .border-radius( 15px ); }
				&.btn a{ text-shadow: none; }
				&.btn a:hover{ color: #fff; }
				
				a{
					color: #fff;
					text-shadow: 1px 1px 2px #7AAF1C;
					font-weight: bold;
					text-transform: uppercase;


					&:hover{
						color: #defb90;
						text-decoration: none;
					}
				}
			}
		}

		.btn-navbar{
			margin-top: 23px;
		}
	}

	header{

		.container{}
	}

	#main{

		.slider{
			margin-top: 40px;
			overflow: hidden;
			width: 100%;
			position: relative;

			.slide_container{
				overflow: hidden;
				width: 100%;
				position: relative;
			}

			.overflow{
				display: block;
				position: relative;
				overflow: auto;
			}

			.nav{
				display: block;
				width: 91px; height: 91px;
				position: absolute; top: 30px;
				.opacity( 70 );
				
				&.prev{
					left: 0;
					background: transparent url( img/arrow-left-circle.png ) center center no-repeat;
				}
				&.next{
					right: 0;
					background: transparent url( img/arrow-right-circle.png ) center center no-repeat;
				}

				&:hover{
					.opacity( 100 );
				}
			}

			.pager{
				display: block;
				margin: 20px 0 0 0; padding: 0;
				width: 100%;

				a{
					padding: 5px;
					border: 0;
					font-size: 22px;
					color: #ccc;
					background: transparent;

					transition:all .2s linear; 
				    -o-transition:all .2s linear; 
				    -moz-transition:all .2s linear; 
				    -webkit-transition:all .2s linear;

					&:hover{
						background: transparent;
						color: #aaa;
					}

					&.active{
						color: @cl_blue;
						.scale(1.2);
					}
				}
			}

			.slide{
				min-height: 100px;
				height: auto !important;
				height: 100px;
				float: left; clear: none;

				&.testimonial{
					margin-top: 20px;
					text-align: center;
					color: @cl_blue;
					font-size: 40px;
					font-style: italic;
					line-height: 45px;
					font-weight :bold;

					.inside{
						margin-left: -40px;
						padding: 0 150px;
						.box-sizing(border-box);
					}
				}
			}
		}

		.scrollable{
			overflow: hidden;
			width: 100%;
			position: relative;

			.scroll_directions{
				display: block;
				margin: 0; padding: 0;
				width: 100px; height: 60px;
				position: absolute; top: 80px; left: 0px;
				background: transparent url(img/icn_swipe_arrow.png) 20px 3px no-repeat;

				.hand{
					display: block;
					margin: 0; padding: 0;
					width: 49px; height: 49px;
					position: absolute; top: 10px; left: 50px;
					background: transparent url(img/icn_swipe_hand.png) 0 0 no-repeat;
				}
			}

			.scroll_container{
				display: block;
				overflow: hidden;
				width: 100%;
				position: relative;
				-webkit-overflow-scrolling: touch;
			}

			.overflow{
				display: block;
				position: relative;
				overflow: auto;
			}

			.nav{
				display: block;
				width: 91px; height: 91px;
				position: absolute; top: 50px;
				.opacity( 70 );
				
				&.back{
					left: 0;
					background: transparent url( img/arrow-left-circle.png ) center center no-repeat;
				}
				&.forward{
					right: 0;
					background: transparent url( img/arrow-right-circle.png ) center center no-repeat;
				}

				&:hover{
					.opacity( 100 );
				}
			}
		}

		.investigators{
			margin: 20px 0; padding: 0;

			li{
				display: inline;
				margin: 0 10px;

				&:first-child{ margin-left: 0; }
			}
		}

		section{
			display: block;
			margin: 0; padding: 50px 0;
			width: 100%;
			position: relative;

			&#welcome{
				padding-bottom: 0;
			
				.intro{
					text-align: center;
					color: #777;
					font-size: 16px;
					line-height: 150%;
					height: auto;

					h1{
						font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
						margin: 0 0 20px; padding: 0;
						width: 100%; height: auto;
						color: #6b5019;
						font-size: 48px;
						line-height: 110%;
						font-style: italic;
						font-weight: bold;

						a,
						a:active{ color: @cl_green; }
						a:hover{
							color: darken( @cl_green, 10% );
							text-decoration: none;
						}
					}
				}
			}

			.intro-video{
				overflow: hidden;
			}
				.intro-video.collapse{
					height: 400px;
				}


			.row.post{
				margin-bottom: 40px;

				.meta{
					display: block;
					margin: 0; padding: 5px 0 15px;
					width: 100%;
					font-size: 13px;
					float: left; clear: both;
				}

				.date{
					display: block;
					width: 50px;
					text-align: center;
					text-transform: uppercase;
					color: #fff;
					background: #dfdfdf;
					float: left; clear: both;
					.border-radius( 5px );

					transition:all .2s linear; 
				    -o-transition:all .2s linear; 
				    -moz-transition:all .2s linear; 
				    -webkit-transition:all .2s linear;

				    

					div{ display: block; margin: 0; padding: 3px 0; width: 100%; text-align: center; float: left; clear: both; }
					.month{ font-size: 18px; line-height: 18px; }
					.day{ font-size: 32px; line-height: 32px; margin-top: -8px; }
					.year{ display: none; }
				}

				h2{
					margin: 0; padding: 0;
					a{
						color: @cl_orange;
					}
				}

				#disqus_thread{
					margin-top: 20px;
				}
				
				.commentlist{
					margin: 0; padding: 0;
					list-style: none;
				}

				.post-comments{
					display: block;
					margin: 20px 0 0 0; padding: 0;
					width: 100%;
					float: left; clear: both;

					h3{
						font-weight: normal;
						color: #999;
					}

					textarea{
						width: 70%;
						height: 130px;
					}
				}
			}

			.photo{
				display: inline-block;
				padding: 10px; margin: 0 -3px -5px;
				background: #fafafa;
				.box-shadow( 0 5px 10px rgba( 0, 0, 0, 0.2 ) );
				.box-sizing(border-box);

				&.small{
					padding: 6px;
					.box-shadow( 0 1px 2px rgba( 0, 0, 0, 0.1 ) );
				}
				
			}

			.callout{
				padding: 15px;
				text-align: center;
				background: #fff;
				border: 1px solid #ddd;
				font-size: 14px !important;
				.border-radius(15px);
				.box-sizing(border-box);
				
				h3{
					font-size: 22px !important;
					line-height: 28px !important;
					margin: 10px 0 0 !important; padding: 0 0 5px 0 !important;
				}
			}

			.photo_stack{
				display: block;
				margin: 10px 0 40px;
				width: 100%;
				text-align: center;
				float: left; clear: both;
				.box-sizing(border-box);
				

				&.small .photo{
					padding: 8px;
					width: 130px;
				}

				.photo{
					display: inline-block; /* for old ie */
					width: 206px;
					.rotate(-4deg);
					position: relative;
					z-index: 1; 

					transition:all .2s linear; 
				    -o-transition:all .2s linear; 
				    -moz-transition:all .2s linear; 
				    -webkit-transition:all .2s linear;

					&:nth-child(n+2) { .rotate(1deg); z-index: 5; }
					&:nth-child(n+3) { .rotate(4deg); z-index: 5; }
					&:nth-child(n+4) { .rotate(-6deg); z-index: 1; }
				}

				&.alt {
					.photo{
						.rotate(3deg);
						z-index: 5; 
						
						&:nth-child(n+2) { .rotate(5deg); z-index: 1; }
						&:nth-child(n+3) { .rotate(-3deg); z-index: 1; }
						&:nth-child(n+4) { .rotate(6deg); z-index: 5; }
					}
				}

				.photo:hover{
					.scale( 1.25 ) !important;
					.box-shadow( 0 8px 35px rgba( 0, 0, 0, 0.5 ) ) !important;
					position: relative !important;
					z-index: 10 !important;
				}
			}

			&.emphasis{
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
				background: #f3f8fb;
				background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f1f7fa 100%); /* FF3.6+ */
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#f1f7fa)); /* Chrome,Safari4+ */
				background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f1f7fa 100%); /* Chrome10+,Safari5.1+ */
				background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#f1f7fa 100%); /* Opera 12+ */
				background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#f1f7fa 100%); /* IE10+ */
				background: radial-gradient(ellipse at center, #ffffff 0%,#f1f7fa 100%); /* W3C */
				.box-shadow( 0 0 20px rgba( 0, 0, 0, 0.25 ) );
			}
			&#how{

				.step h3,
				.step .detail{
					padding-left: 42px;
					.box-sizing(border-box);
					
				}

				.callout{
					margin-top: -50px;

				}
			}

			&#how_it_works{

				.infographic{
					height: 410px;
					background: transparent url( img/bg_hiw_arrow_med.png ) 50px center no-repeat;
					position: relative;

					.step{
						width: 240px; height: 268px;
						font-size: 13px;
						color: #777;
						line-height: 140%;
						position: absolute; top: 0; left: 0;

						h3{
							margin-bottom: 5px;
							color: #72a647;
							font-size: 20px;
							font-style: italic;
							font-weight: bold;
							text-transform: uppercase;
						}

						// .icon{ display: none; }
						&.step1{
							top: 0px; left: 0px;
							.icon{ position: absolute; bottom: 30px; left: 0px; }
						}
						&.step2{
							padding-top: 100px;
							top: 160px; left: 80px;
							.icon{ position: absolute; top: 0; left: 50px; }
						}
						&.step3{ top: 0px; left: 290px;
							.icon{ position: absolute; bottom: 0; left: 10px; }
						}
						&.step4{
							padding-top: 100px;
							top: 160px; left: 440px;
							.icon{ position: absolute; top: 5px; left: 30px; }
						}
						&.step5{
							top: 0px; left: 630px;
							.icon{ position: absolute; bottom: 20px; left: 30px; }
						}
						&.step6{
							padding-top: 100px;
							top: 160px; left: 820px; width: 200px;
							width: 140px;
							.icon{ position: absolute; top: 0; left: 10px; }
						}
					}
				}
			}

			&#social{

				.select{
					padding-left: 90px;
					font-style: italic;
					font-weight: 300;
					font-size: 17px;
					line-height: 130%;
					.box-sizing(border-box);
					background-position: 0 10px;
					background-repeat: no-repeat;
					

					&.twitter{ background-image: url( img/icn_twitter_flat.png ); }
					&.facebook{ background-image: url( img/icn_fb_flat.png ); }
					&.message{ background-image: url( img/icn_message_flat.png ); }

					cite{
						font: inherit;
						font-size: 18px;
						color: inherit;
					}
				}

			}

			&#team{
				text-align: center;

				h2{
					margin-bottom: 10px;
				}

				.photo_stack{
					margin: 40px 0;
				}

			}

			&#contact_options{

				.option{
					padding: 30px 30px;
					#gradient > .vertical( #f0f0f0, #dddddd );
					.border-radius( 10px );
					.box-sizing(border-box);
					position: relative;
					

					h2{
						margin-bottom: 15px;
						text-align: center;
						font-size: 30px;
					}

					.detail{
						margin: 0; padding: 0 15px;
						min-height: 100px;
						font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 21px;
						font-weight: bold;
						line-height: 30px;
						color: @cl_blue;

						p{
							margin: 0; padding: 0;
							width: 100%;
						}
					}

					.icon{
						margin-top: 30px;
						height: 170px;
						text-align: center;
					}

					.btn{
					}
				}
			}

			&#signin_options{

				.option{
					padding: 30px 0;
					height: 370px;
					#gradient > .vertical( #f0f0f0, #dddddd );
					.border-radius( 10px );
					.box-sizing(border-box);
					

					h2{
						padding: 0 30px;
						margin-bottom: 15px;
						text-align: center;
						font-size: 30px;
					}

					.form{
						padding-left: 30px;
						.box-sizing(border-box);
						
					}

					.screenshot{
						padding-right: 30px;
						.box-sizing(border-box);
						
					}

					.icon{
						margin-top: 30px;
						text-align: center;
					}
				}
			}

			&#support{
				text-align: center;
				
				.row{
					margin-bottom: 20px;
				}
			}

			&#features{
				padding-top: 10px;
				.inner{
					padding: 30px;
					border: 1px solid #e3ebaa;
					.border-radius( 20px );
					background: #f6f8e4;
					float: left; clear: none;
					.box-sizing(border-box);
					

					.feature{
						display: inline;
						padding: 20px;
						width: 33%;
						font-size: 16px;
						line-height: 24px;
						text-align: center;
						float: left; clear: none;
						.box-sizing(border-box);
						

						h3{ margin-bottom: 10px; }

						&.green h3{ color: #7caf47; }
						&.orange h3{ color: #e4762e; }
						&.blue h3{ color: #247e9e; }
					}
				}
			}

			&#choicelunch_advantage{

				.row{
					margin-top: 50px;
					margin-bottom: 50px;
				}
			}

			&#ourfood_tabs{
				padding-bottom: 0;
				text-align: center;

				ul.tabs{
					display: block;
					margin: 0; padding: 0;
					width: 100%;
					list-style: none;
					float: left; clear: both;

					li{
						display: inline;
						margin: 0 0 -5px 0; padding: 0;
						width: 25%;
						float: left; clear: none;

						a{
							display: inline-block;
							margin: 0; padding: 30px 20px;
							width: 100%;
							color: #fff;
							font-size: 26px;
							font-weight: bold;
							text-shadow: 1px 1px 2px #9bb1bb;
							background: #b7ccd6;
							border: 1px solid #a7bbc4;
							.border-radius( 10px 10px 0 0 );
							.box-sizing(border-box);
							
							&:hover{
								//color: @cl_orange;
								background: #a7bbc4;
								text-decoration: none;
							}
						}

						&.current_page_item a{
							color: @cl_orange;
							background: #eaeaea;
							border: 1px solid #aeaeae;
							text-shadow: 0 0 0 #fff;
						}
					}
				}
			}

			&.topshadow{
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #eaeaea 0%, #ffffff 50px); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(50px,#ffffff)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #eaeaea 0%,#ffffff 50px); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #eaeaea 0%,#ffffff 50px); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #eaeaea 0%,#ffffff 50px); /* IE10+ */
				background: linear-gradient(to bottom,  #eaeaea 0%,#ffffff 50px); /* W3C */
			}

			&#food{
				.food_cat{

					h3 i{
						display: none;
					}

					.row{
						padding-bottom: 10px;
						
						.entree{
							display: inline-block;
							padding: 10px 0;
							height: 220px;
							text-decoration: none;
							position: relative;

							.inner{
								z-index: 1;

								.thumb{
									img{
										.border-radius( 6px );
										
									}
								}
								.title{
									display: block;
									padding-top: 10px;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;
								}
								.detail{ display: none; }
								.etc{ display: none; }
							}

							&:hover{

								.inner{
									display: block;
									margin: 0; padding: 20px;
									width: 140%;
									background: #fff;
									.border-radius( 12px );
									.box-shadow( 0 2px 15px rgba( 0, 0, 0, 0.4 ) );
									position: absolute; top: -30px; left: -20%;
									.box-sizing(border-box);
									z-index: 1000;
									

									.thumb{
										display: block;
										margin: 0; padding: 0;
										width: 100%;
										color: @cl_gray;
										float: left; clear: both;

										img{
											width: 100%;
										}
									}

									.title{
										color: @cl_blue;
										font-size: 16px;
										font-weight: bold;
									}
									
									.detail{
										display: block;
										margin: 0; padding: 5px 0;
										width: 100%;
										color: @cl_gray;
										float: left; clear: both;
									}
									.etc{
										display: block;
										margin: 0; padding: 5px 0;
										width: 100%;
										color: @cl_gray;
										float: left; clear: both;
									}
								}
							}
						}
					}
				}
			}

			&.shadow_bottom{
				.box-shadow( 0 7px 10px rgba( 0, 0, 0, 0.075 ) );
			}

			.container{
				position: relative;

				h2{
					margin-bottom: 20px;
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 36px;
					font-weight: bold;
					color: @cl_orange;
				}

				h3{
					margin-bottom: 10px;
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 24px;
					font-weight: bold;
					color: @cl_blue;

					.number{
						margin-left: -42px;

						.border-radius(999px);
					    
					    width: 36px;
					    height: 36px;
					    padding: 1px 8px;

					    background: @cl_blue;
					    border: 2px solid @cl_blue;
					    color: @cl_light_blue;
					    text-align: center;
					    text-shadow: 0 0 0 #fff;
					    font-size: 90%;
					    
					}

					&:nth-child(n+2){
						margin-top: 25px;
					}
				}

				h4{
					font-size: 18px;
					line-height: 28px;
					margin-bottom: 10px;
					
					&.subhead{
						color: #999;
						font-size: 12px;
						margin-top: -10px;
					}

					&.chef_name{
						margin-top: 20px;
						color: @cl_blue;
					}

					a{}
				}

				legend{
					color: #888;
					font-size: 16px;
					font-weight: normal;
				}

			}
		}

		#related_posts{

			h4{
				display: block;
				width: 100%;
				margin: 5px 0 0; padding: 0;
				float: left; clear: both;
			}
			.meta{
				display: block;
				margin: 0 0 5px 0; padding: 0;
				font-weight: bold;
				color: #aaa;
				width: 100%;
			}

			.callout{
				margin-top: -10px;
			}
		}

	}

	footer{
		padding: 50px 0;
		background: @cl_brown_dark;

		.container{
			color: #fff;
			text-shadow: none;

			.nav {
				li{
					padding: 3px 0;
					a{
						padding: 2px 0;
						color: @cl_light_green;
						font-size: 16px;
						font-weight: bold;
						text-decoration: none;

						&:hover{
							color: lighten( @cl_light_green, 10% );
							background: transparent;
						}
					}
				}
			}

			.copyright{
				text-align: center;
				color: darken( #a68d5a, 12% );
				font-size: 10px;
			}
		}

		.tothetop{
			display: block;
			margin-top: 30px;
			color: lighten( @cl_brown_dark, 10% );
			text-shadow: 0 -1px 0 darken( @cl_brown_dark, 5% );

			i{
				line-height: 45px;
				font-size: 40px;
			}

			&:hover{
				color: darken( @cl_brown_dark, 20% );
				text-decoration: none;
				text-shadow: none;
			}
		}
	}

}


@media (min-width: 1200px) {
	body #main section#how_it_works .infographic{
    background: transparent url( img/bg_hiw_arrow_big.png ) center center no-repeat;
    
    .step{
      width: 240px; height: 268px;
      font-size: 14px;

      // .icon{ display: none; }
      &.step1{
        top: 0px; left: 35px;
        .icon{ position: absolute; bottom: 30px; left: 40px; }
      }
      &.step2{
        padding-top: 100px;
        top: 160px; left: 180px;
        .icon{ position: absolute; top: 0; left: 50px; }
      }
      &.step3{ top: 0px; left: 380px;
        .icon{ position: absolute; bottom: 0; left: 50px; }
      }
      &.step4{
        padding-top: 100px;
        top: 160px; left: 580px;
        .icon{ position: absolute; top: 5px; left: 30px; }
      }
      &.step5{
        top: 0px; left: 760px;
        .icon{ position: absolute; bottom: 20px; left: 50px; }
      }
      &.step6{
        padding-top: 100px;
        top: 160px; left: 980px; width: 200px;
        .icon{ position: absolute; top: 0; left: 20px; }
      }
    }
  }

}

@media (max-width: 767px) {

	body {
	    padding-left: 0 !important;
	    padding-right: 0 !important;

	    #main{
	    	section{

	    		&#contact_options{

					.option{
						padding: 15px;
						min-height: auto !important;
						height: auto !important;
						#gradient > .vertical( #f0f0f0, #dddddd );
						.border-radius( 10px );
						.box-sizing(border-box);
						position: relative;
						

						h2{
							margin-bottom: 15px;
							text-align: center;
							font-size: 30px;
						}

						.detail{
							margin: 0; padding: 0;
							min-height: auto !important;
							height: auto !important;
							font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
							font-size: 18px;
							font-weight: bold;
							line-height: 24px;
							color: @cl_blue;

							p{
								margin: 0; padding: 0;
								width: 100%;
							}
						}

						.icon{
							margin-top: 0px;
							height: auto;
							text-align: center;
							
							img{ height: 100px; }
						}

						.btn{
							font-size: 16px;
						}
					}
				}

				.mobile-top-padding{ margin-top: 25px;}
	    		
	    		&#chefs{
	    			.well{
						margin-top: 30px;

			    		.btn{
			    			margin-bottom: 10px;
			    			clear: left;
			    			width: 100%;
			    			.box-sizing(border-box);
			    		}
			    	}
		    	}
	    		.photo{
	    			margin: 0 auto;
	    			width: 90%;
	    			.box-sizing(border-box);
	    		}

	    		&#process{
	    			.content{
	    				margin-bottom: 30px;
	    			}
	    			li{
	    				font-size: 20px;
	    			}
	    		}

	    		&#ingredients{
	    			h4{
	    				margin-top: 20px;
						color: @cl_blue;
						text-align: center;
	    			}
	    		}
	    	}
	    }
	  }

	body .navbar-fixed-top, .navbar-fixed-bottom{
		margin-left: 0 !important;
		margin-right: 0 !important;

		.navbar-inner{
			.brand{
				margin-left: -20px;
			}
		}
	}

	.contact_btns .btn{
		margin-bottom: 15px !important;
	}


	.food_details{

			.container{
				margin: 0; padding-top: 0 !important; padding-bottom: 0 !important;
			}
			
			h2{
				font-size: 28px !important;
				margin: 0; padding: 5px;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #dfdfdf;
				
				i{
					display: inline;
					margin-left: 10px;
					float: right; clear: none;
					color: #aaa;
				}

				&:first-child{ margin-top: 0; border-top: 0; }

				#values .slide_container{
					padding-bottom: 50px;
				}

			}
		}

	#about_extras{
		.container{
			.row div{
				margin-bottom: 20px;
			}
		}
	}

	#choicelunch_advantage{
		.container{
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		.row div{
			float: left; clear: both;
		}

		#app.row{
			margin-bottom: 0 !important;
		}

		.iphone{ margin-top: 20px; }

		h3{
			padding-top: 0 !important;
			margin-top: 15px !important;
		}
	}
	
	body #main .slider .slide.testimonial .inside{
		font-size: 20px;
		line-height: 27px;
		margin-left: 0 !important;
		padding: 0 !important;
		.box-sizing(border-box);
	}
	body #main .slider .slide.testimonial .inside:after{
		content: "~";
		font-size: 40px;
		line-height: 40px;
		font-weight: normal;
		color: #ccc;
	}

	body #main .slider .slide.testimonial:last-child .inside:after{
		content: "";
	}
	

	// HOW IT WORKS FEATURES
	// -----------
	body #main section#features{
		
		.inner{
			padding: 0px;
			.feature{
				padding: 15px 10px;
				width: 100% !important;
				line-height: 130%;
				float: left; clear: both;

				.icon{
					
				}

				h3{
					margin-top: 5px;
				}
			}
		}
	}

	body #main section{
		margin: 0; padding: 0;
		.box-sizing( border-box );
	

		.photo_stack{

			&.small .photo{
				padding: 1%;
				width: 30%;
			}

			.photo{
				padding: 5px;
				width: 40%;
				img{ width: 100%;}
			}
		}

		.container{
			padding: 20px;
			.box-sizing( border-box );

			h2{
					margin-bottom: 20px;
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 36px;
					font-weight: bold;
					color: @cl_orange;
				}

				h3{
					margin-bottom: 10px;
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 24px;
					font-weight: bold;
					color: @cl_blue;

					.number{
						margin-left: -42px;

						.border-radius(999px);
					    
					    width: 36px;
					    height: 36px;
					    padding: 1px 8px;

					    background: @cl_blue;
					    border: 2px solid @cl_blue;
					    color: @cl_light_blue;
					    text-align: center;
					    text-shadow: 0 0 0 #fff;
					    font-size: 90%;
					    
					}

					&:nth-child(n+2){
						margin-top: 25px;
					}
				}

				h4{
					font-size: 18px;
					line-height: 28px;
					margin-bottom: 10px;
					
					&.subhead{
						color: #999;
						font-size: 12px;
						margin-top: -10px;
					}

					a{}
				}
		}

		&#social{

			.select{
				padding-left: 0px;
				font-style: italic;
				font-weight: 300;
				font-size: 17px;
				line-height: 130%;
				.box-sizing(border-box);
				background-image: none;
				

				&.twitter{ background-image: url( img/icn_twitter_flat.png ); }
				&.facebook{ background-image: url( img/icn_fb_flat.png ); }
				&.message{ background-image: url( img/icn_message_flat.png ); }

				cite{
					font: inherit;
					font-size: 18px;
					color: inherit;
				}
			}

		}


		&#food{
			margin-top: 0;

			.food_cat{

				h3{
					border-top: 1px solid #fff;
					border-bottom: 1px solid #dfdfdf;
					
					i{
						display: inline;
						margin-left: 10px;
						float: right; clear: none;
						color: #aaa;
					}

					&:first-child{ border-top: 0; }
				}

				.row{
					padding-bottom: 10px;
					
					.entree{
						display: inline-block;
						padding: 10px 0;
						height: auto;
						text-decoration: none;
						position: relative;

						.inner{
							z-index: 1;

							.thumb{
								display: block;
								margin: 0; padding: 0;
								width: 100%;
								color: @cl_gray;
								float: left; clear: both;

								img{
									width: 100%;
								}
							}
							.title{
								display: block;
								padding: 10px 0;
								width: 100%;
								font-size: 24px;
								line-height: 28px;
								color: @cl_blue;
								float: left; clear: both;
							}
							.detail{
								display: block;
								margin: 0; padding: 0 0 5px 0;
								color: #333;
								float: left; clear: both;
							}
							.etc{
								display: block;
								margin: 0; padding: 5px 0;
								width: 100%;
								color: @cl_gray;
								float: left; clear: both;
								img{
									width: 20px;
								}
							}
						}

						&:hover{

							.inner{
								display: block;
								margin: 0; padding: 0px;
								width: 100%;
								background: transparent;
								.border-radius( 0 );
								.box-shadow( none );
								position: relative; top: 0; left: 0;
								.box-sizing(border-box);
								z-index: 1000;
								

								.thumb{
									display: block;
									margin: 0; padding: 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;

									img{
										width: 100%;
									}
								}

								.title{
									color: @cl_blue;
									font-size: 24px;
									font-weight: normal;
								}
								
								.detail{
									display: block;
									margin: 0; padding: 0 0 5px 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;
								}
								.etc{
									display: block;
									margin: 0; padding: 5px 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;
								}
							}
						}
					}
				}
			}
		}
	}

	body #main section#social{

		.row{

			.select{
				margin: 40px 0;

				&:first-child{ margin-top: 0; }
				&:last-child{ margin-bottom: 0; }
			}
		}
	}

	body #main section#signin_options{

		.container{
			.row{
				.option{
					margin: 40px 0;

					&:first-child{ margin-top: 0; }
					&:last-child{ margin-bottom: 0; }
				}
			}
		}
	}

	body #main section#contact_options{

		.container{
			.row{
				.option{
					margin: 40px 0;

					&:first-child{ margin-top: 0; }
					&:last-child{ margin-bottom: 0; }
				}
			}
		}
	}

	body #main section#how .callout{
		margin-top: 30px;
	}

	body #main section#how_it_works .infographic{
    background: transparent;
    background-image: none;
    
    .step{
      padding: 30px 0 !important;
      width: 100% !important; height: auto !important;
      font-size: 13px;
      float: left; clear: both;
      position: relative;
      .box-sizing(border-box);
      
      &:first-child{
      	padding-top: 0;
      }

      .icon{
        display: block;
        margin: 20px 0;
        width: 100% !important; height: 80px;
        text-align: center;
        float: left; clear: both;
        .inner{
          display: block;
          width: 100%;
          position: relative; top: auto; left: auto;
          float: left; clear: none;
        }
      }
      
      // .icon{ display: none; }
      &.step1{
      	padding-top: 0 !important;
        top: 0px; left: 0;
        .icon{ padding-top: 0 !important; height: 60px !important; position: inline; bottom: auto !important; left: auto; }
      }
      &.step2{
        padding-top: 0px !important;
        top: 0; left: 0;
        .icon{height: 90px !important; position: relative; top: auto; left: auto; }
      }
      &.step3{
      	padding-top: 0 !important;
        top: 0px; left: 0;
        .icon{ margin-bottom: 10px; height: 80px !important; position: relative; bottom: auto; left: auto; }
      }
      &.step4{
        padding-top: 0 !important;
        top: 0; left: 0;
        .icon{ height: 70px !important; position: relative; top: auto; left: auto; }
      }
      &.step5{
      	padding-top: 0 !important;
        top: 0px; left: 0;
        .icon{ height: 80px !important; position: relative; bottom: auto; left: auto; }
      }
      &.step6{
        padding-top: 0 !important;
        top: 0; left: 0; width: auto;
        .icon{ height: 80px !important; position: relative; top: auto; left: auto; }
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
	

	body .btn-large{
		font-size: 16px;
	}
	body .navbar{
		.navbar-inner{

			.brand{
				margin-top: 5px;
				width: 200px;
				margin-left: -20px;
			
			}

			.nav {
				a{
					font-size: 15px;
				}
			}

			.nav-secondary{
				a{
					font-size: 13px;
				}
			}

			
		}
	}

	body #main section{
		padding: 30px 0;

		.photo{
			width: 100%;
		}

		.photo_stack{

			&.small .photo{
				padding: 6px;
				width: 100px;
			}

			.photo{
				padding: 1%;
				width: 22%;
				img{ width: 100%; }
			}
		}

		&#ourfood_tab_content{

			.photo_stack{
				.photo{
					width: 40% !important;
				}
			}
		}

		.container{

			h2{
				margin-bottom: 10px;
				font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 24px;
				line-height: 28px;
				font-weight: bold;
				color: @cl_orange;
			}

			h3{
				margin-bottom: 5px;
				font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 18px;
				line-height: 24px;
				font-weight: bold;
				color: @cl_blue;

				.number{
					margin-left: -30px;

					.border-radius(999px);
				    
				    width: 24px;
				    height: 24px;
				    padding: 1px 6px;

				    background: @cl_blue;
				    border: 2px solid @cl_blue;
				    color: @cl_light_blue;
				    text-align: center;
				    text-shadow: 0 0 0 #fff;
				    font-size: 90%;
				    
				}

				&:nth-child(n+2){
					margin-top: 15px;
				}
			}

			h4{
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 10px;

				&.subhead{
					color: #999;
					font-size: 12px;
					margin-top: -10px;
				}

				a{}
			}
		}

		&#how{
			.step h3,
			.step .detail{
				padding-left: 42px;
				.box-sizing(border-box);
			}

			.callout{
				margin-top: -20px;
				font-size: 12px !important;
				
				.btn-large{ font-size: 18px !important; }
				.btn-medium{ font-size: 14px !important; }
				h3{ font-size: 18px !important; line-height: 22px !important; }
			}
		}

		&#social{
			.select{
				font-size: 14px;
				
				cite{
					font-size: 14px
				}
			}
		}

		&#contact_options{

			.option{
				padding: 15px;
				min-height: 360px;
				#gradient > .vertical( #f0f0f0, #dddddd );
				.border-radius( 10px );
				.box-sizing(border-box);
				position: relative;
				

				h2{
					margin-bottom: 15px;
					text-align: center;
					font-size: 30px;
				}

				.detail{
					margin: 0; padding: 0;
					min-height: 100px;
					font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 18px;
					font-weight: bold;
					line-height: 24px;
					color: @cl_blue;

					p{
						margin: 0; padding: 0;
						width: 100%;
					}
				}

				.icon{
					margin-top: 30px;
					height: 170px;
					text-align: center;
				}

				.btn{
					font-size: 16px;
				}
			}
		}

		&#food{
			margin-top: 50px;

			.food_cat{

				.row{
					padding-bottom: 10px;
					
					.entree{
						display: inline-block;
						padding: 10px 0;
						height: auto;
						text-decoration: none;
						position: relative;

						.inner{
							z-index: 1;

							.thumb{
								img{
									.border-radius( 6px );
								}
							}
							.title{
								display: block;
								padding: 10px 0;
								width: 100%;
								font-size: 16px;
								color: @cl_blue;
								float: left; clear: both;
							}
							.detail{
								display: block;
								margin: 0; padding: 0 0 5px 0;
								color: #333;
								float: left; clear: both;
							}
							.etc{
								display: block;
								margin: 0; padding: 5px 0;
								width: 100%;
								color: @cl_gray;
								float: left; clear: both;
								img{
									width: 20px;
								}
							}
						}

						&:hover{

							.inner{
								display: block;
								margin: 0; padding: 0px;
								width: 100%;
								background: transparent;
								.border-radius( 0 );
								.box-shadow( none );
								position: relative; top: 0; left: 0;
								.box-sizing(border-box);
								z-index: 1000;
								

								.thumb{
									display: block;
									margin: 0; padding: 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;

									img{
										width: 100%;
									}
								}

								.title{
									color: @cl_blue;
									font-size: 16px;
									font-weight: normal;
								}
								
								.detail{
									display: block;
									margin: 0; padding: 0 0 5px 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;
								}
								.etc{
									display: block;
									margin: 0; padding: 5px 0;
									width: 100%;
									color: @cl_gray;
									float: left; clear: both;
								}
							}
						}
					}
				}
			}
		}
	}

	footer{

		.copyright{
			font-size: 9px !important;
		}
	}

}

@media (max-width: 979px) {
	body #main section#how_it_works .infographic{
	background: transparent;
    background-image: none;

    .step{
      padding: 30px;
      width: 240px; height: 300px;
      font-size: 13px;
      float: left; clear: none;
      position: relative;
      .box-sizing(border-box);
      
      
      .icon{
        height: 110px;
        text-align: center;
        .inner{
          width: 100%;
          position: absolute; bottom: 0; left: 0;
        }
      }
      
      // .icon{ display: none; }
      &.step1{
        top: 0px; left: 0;
        .icon{ position: relative; bottom: auto; left: auto; }
      }
      &.step2{
        padding-top: 30px;
        top: 0; left: 0;
        .icon{ position: relative; top: auto; left: auto; }
      }
      &.step3{
        top: 0px; left: 0;
        .icon{ position: relative; bottom: auto; left: auto; }
      }
      &.step4{
        padding-top: 30px;
        top: 0; left: 0;
        float: left; clear: both;
        .icon{ position: relative; top: auto; left: auto; }
      }
      &.step5{
        top: 0px; left: 0;
        .icon{ position: relative; bottom: auto; left: auto; }
      }
      &.step6{
        padding-top: 30px;
        top: 0; left: 0; width: 240px;
        .icon{ position: relative; top: auto; left: auto; }
      }
    }
  }
}

ul.videos {
  list-style: none;
  font-size: 16px;
  margin: 10px 0 0 -4px;
}
ul.videos li {
  line-height: 5px;

}
ul.videos li a {
  background-image: url(http://order.choicelunch.com/marketing/landing/images/btn_play_stop.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
  color: #593f04;
  display: block;
  line-height: 24px;
  font-weight: 100;
  padding: 0 0 0 42px;
}

	ul.videos li a:hover{
		color: #ebb139;
		background-position: 0 -48px;
	}

	ul.videos li a.playing{
		color: #c99935;
		background-position: 0 -98px;
	}

	ul.videos li a.playing:hover{
		color: #c99935;
		background-position: 0 -148px;
	}

#iphone {
  background: url(http://order.choicelunch.com/marketing/landing/images/bg-iphone.png) no-repeat;
  height: 355px;
  margin: 0px auto;
  padding: 93px 20px 160px 25px;
  width: 230px;
}
	
	#iphone .screen{
		display: block;
		margin: 0; padding: 0;
		width: 235px; height: 355px;
		background: transparent url(http://order.choicelunch.com/marketing/landing/images/screen_large.png) 0 0 no-repeat;
		float: left; clear: both;
		position: relative;
		overflow: hidden;
	}
		#iphone .screen .inner_shadow{
			position: absolute; top: 0; left: 0;
		}
		
		#iphone .screen .btn_play{
			position: absolute; top: 144px; left: 72px;
		}

/*
#iphone div.screen {
  background: url(http://order.choicelunch.com/marketing/landing/images/iphone-screen.jpg) no-repeat;
  height: 355px;
}

#iphone div a {
  margin: 148px 0 0 66px;
  float: left;
} */

@import "bootstrap/responsive.less";

