@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/web-symbols/websymbols-regular-webfont.eot');
    src: url('/fonts/web-symbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/web-symbols/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/web-symbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/web-symbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

span.icon{
  font-family: WebSymbolsRegular;
}

.postbox{

}

label{
	display: block;
	margin: 10px 0;
	color: #666;
	width: 100%;
}

input.lbl_above{
	margin: -10px 0 10px;
}

.block{
	margin: 20px 0;
	padding: 5px 10px;
	background: #fafafa;
	border: 1px solid #dfdfdf;
}

.block.highlight{
	background: #ffffe5;
}

/*
	Homepage - Ads  
*/

.adspace{
	display: block;
}
	.adspace .ad{
		display: inline-block;
		margin: 0px; padding: 0;
		width: 300px;
		float: left; clear: none;
	}

		.ad .preview{
			display: block;
			margin: 0 0 10px 0; padding: 0;
			width: 100%; height: 50px;
			background: #ccc;
			position: relative;
		}
			.ad.ad_1 .preview{
				height: 300px;
			}
			.ad.ad_2 .preview{
				height: 130px;
			}
			.ad.ad_3 .preview{
				height: 90px;
			}

			.ad .preview .placeholder{
				display: block;
				margin: 0; padding: 0;
				width: 100%;
				color: #999;
				text-shadow: 0 1px 0 #ddd;
				font-size: 14px;
				line-height: 100%;
				text-align: center;
				position: absolute; top: 45%; left: 0;
			}

		.ad .link{
			margin-bottom: 15px;
		}
			.ad .link label{
				margin: 0; padding: 0;
				color: #999;
			}
		.ad input{ width: 100%; }

		.adrow{
			display: block;
			margin: 10px 0; padding: 10px 10px 20px;
			width: 300px;
			background: #fafafa;
			border: 1px solid #dfdfdf;
			float: left; clear: both;
		}

		.ad_del{
			color: #f33;
			text-decoration: none;
		}
			.ad_del:hover{
				color: #f33;
			}

/*
	Products - Specs  
*/

table.specs{
	margin: 00px 0 20px 0;
	width: 100%;
}
	table.specs input{
		width: 100%;
	}

	table.specs tr{
		text-align: left;
	}
		table.specs tr input{
			text-align: left;
		}
		table.specs th{
			color: #777;
			font-size: 10px;
			font-weight: normal;
			padding-right: 5px;
		}
	table.specs .manage{
		width: 80px;
		opacity: 0.5;
	}
	table.specs tr:hover .manage{
		opacity: 1;
	}
	
	.spec_del{
		color: #f33;
		text-decoration: none;
	}
		.spec_del:hover{
			color: #f33;
			border: 1px solid #f33;
		}
	
.clear{
	display: block;
	clear: both;
}

/*
	Products - YouTube Videos  
*/

.youtube_videos{
}
	.youtube_videos .field{
		margin-bottom: 40px;
	}

	.youtube_videos .field input{
		width: 70%;
	}
	
	.video_del{
		color: #f33;
		text-decoration: none;
	}
		.video_del:hover{
			color: #f33;
			border: 1px solid #f33;
		}
	
.clear{
	display: block;
	clear: both;
}


/*
	Header Photo
*/

.img_preview{
}
	.img_preview img{
		margin: 0 0 10px; 
		padding: 3px;
		height: 160px;
		background: #fff;
		border: 1px solid #ccc;
	}

	.photo_del{
		color: #f33;
		text-decoration: none;
	}
		.photo_del:hover{
			color: #f33;
			border: 1px solid #f33;
		}


/*
	Header Photo
*/

.contact_sidebars{
}

	.contact_sidebars textarea{
		width: 100%;
		height: 200px;
	}

